/* app css stylesheet */

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.ng-invalid.ng-dirty{
    border-color: red;
}

.ng-valid.ng-dirty{
    border-color: lawngreen;
}
