<div class="row">
    <div class="col-md-4"></div>
    <form name="signUpForm" class="form col-md-4 center-block" ng-controller="SignUpController as signUpCtrl"
                                        ng-submit="signUpForm.$valid && signUpCtrl.signUp()" novalidate>
        <!-- ALERTS -->
        <div class="alert alert-danger" ng-show="signUpCtrl.errorUserExists">
            <strong>Username is already taken. Choose another one.</strong>
        </div>
        <div class="alert alert-danger" ng-show="signUpCtrl.errorInvalidEmail">
            <strong>Email is invalid.</strong>
        </div>
        <div class="alert alert-danger" ng-show="signUpCtrl.errorInvalidPassword">
            <strong>Password don't match requirements.</strong>
        </div>
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : signUpForm.username.$invalid && !signUpForm.username.$pristine }">
            <input name="username" ng-model="signUpCtrl.username" type="text" class="form-control input-lg" placeholder="Username" ng-minlength="4" required>
            <p ng-show="signUpForm.username.$error.minlength" class="help-block">Username is too short.</p>
        </div>
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
            <input name="email" ng-model="signUpCtrl.email" type="email" class="form-control input-lg" placeholder="Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
            <p ng-show="signUpForm.email.$error.pattern && !signUpForm.email.$pristine" class="help-block">Email is invalid.</p>
        </div>
        <!-- PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
            <input name="password" ng-model="signUpCtrl.password" type="password" class="form-control input-lg" placeholder="Password" ng-minlength="8" required>
            <p ng-show="signUpForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>
        <!-- SUBMIT -->
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="signUpForm.$invalid" value="Sign up"/>
        </div>
    </form>
    <div class="col-md-4"></div>
</div>
